:root{
    --screen-width: 100vw;
    --screen-height: 100vh;
    --header-height: 50px;
    --footer-height: 50px;
}

*{
    color: var(--font-color);
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
    height: var(--screen-height);
    scrollbar-color: var(--theme-color-0) var(--theme-color-1);
    scrollbar-width: thin;
}

html::-webkit-scrollbar{
    background-color: var(--theme-color-1);
    width: 8px;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--theme-color-0);
}

body{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    position: absolute;
    left: 0;
    top: 0;
    width: var(--screen-width);
    height: max-content;
    min-height: var(--screen-height);
    margin: 0;
    background-color: var(--theme-color-0);
}

header{
    display: grid;
    grid-template-columns: var(--header-height) 1fr var(--header-height);
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;
    background-color: var(--theme-color-0);
}

footer{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;
    background-color: var(--theme-color-0);
}

h1{
    grid-column: 2 / span 1;
    margin: 0;
    text-align: center;
}

header>a{
    grid-column: 3 / span 1;
    top: 0;
    right: 0;
    width: calc(var(--header-height) * 0.8);
    height: calc(var(--header-height) * 0.8);
    padding: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M16 .396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183.803.151 1.093-.344 1.093-.772l-.015-2.719c-4.453.964-5.391-2.151-5.391-2.151-.729-1.844-1.781-2.339-1.781-2.339-1.448-.989.115-.968.115-.968 1.604.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328.14-1.031.557-1.74 1.011-2.135-3.552-.401-7.287-1.776-7.287-7.907 0-1.751.62-3.177 1.645-4.297-.177-.401-.719-2.031.141-4.235 0 0 1.339-.427 4.4 1.641 1.281-.355 2.641-.532 4-.541 1.36.009 2.719.187 4 .541 3.043-2.068 4.381-1.641 4.381-1.641.859 2.204.317 3.833.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891.556.479 1.077 1.464 1.077 2.959l-.02 4.385c0 .416.28.916 1.104.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z'/%3E%3C/svg%3E");
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--theme-color-1);
    gap: 5px;
}

nav>*{
    cursor: pointer;
    text-decoration: underline;
    padding: 0 15px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    background-color: var(--theme-color-2);
    gap: 5px;
    padding: 5px;
}

@media (max-width: 700px){
    html{
        overflow-y: scroll;
    }

    body{
        position: unset;
        height: unset;
        min-height: var(--screen-height);
        grid-template-columns: 1fr;
        grid-template-rows: var(--header-height) auto min-content var(--footer-height);
    }

    header{
        grid-row: 1 / span 1;
    }

    footer{
        grid-row: 2 / span 1;
    }

    nav{
        grid-row: 3 / span 1;
        padding: 5px 0;
        font-size: large;
    }

    footer{
        grid-row: 4 / span 1;
    }

    nav>*{
        padding: 5px;
    }
}

@media (max-width: 400px){
    header{
        position: sticky;
        top: 0;
        z-index: 2;
    }

    h1{
        z-index: 2;
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr min-content min-content;
        padding: 0;
    }

    main>*:not(#output){
        margin: 0 5px 5px 5px;
    }

    #output{
        grid-row: 1 / span 1;
        position: sticky;
        top: var(--header-height);
        z-index: 1;
        background-color: var(--theme-color-1);
        padding: 5px;
    }
}

#controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto 0;
    padding: 5px;
}

#controls>*{
    width: 100%;
}

#controls>p{
    grid-column: 1 / span 2;
}

#output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main>button{
    border: 0;
    border-radius: 5px;
    background-color: var(--theme-color-0);
    padding: 5px;
}

@media (hover: hover) {
    main>button:hover{
        background-color: var(--theme-color-3);
        cursor: pointer;
    }
}

main>button:last-child{
    position: relative;
}

main>button:last-child::before{
    content: "copied";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transition: 0s 1s;
    text-align: center;
    border-radius: 5px;
}

main>button:last-child:active::before{
    opacity: 1;
    top: -10px;
    transform: translate(-50%, -100%);
    background-color: var(--theme-color-3);
    padding: 5px;
    transition: 0s;
}

main>button:last-child::after{
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    transition: 0s 1s;
    text-align: center;
    border: 10px solid transparent;
}

main>button:last-child:active::after{
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 11px solid var(--theme-color-3);
    transition: 0s;
}

#controls>input[type="text"]{
    appearance: none;
    background-color: var(--theme-color-1);
    border: 5px solid var(--theme-color-0);
    border-radius: 5px;
}

@media (hover: hover) {
    #controls>input[type="text"]:not([disabled]):hover{
        filter: brightness(120%);
    }
}

#controls>input[type="range"]{
    appearance: none;
    position: relative;
    height: 12px;
    background-color: transparent;
    background: transparent;
    overflow-x: hidden;
}

#controls>input[type="range"]::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 5px;
    z-index: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    clip-path: polygon(0 0, 6px 0, 6px 100%, 0 100%);
}

#controls>input[type="range"]::-webkit-slider-runnable-track{
    height: 5px;
    border-width: 0;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--theme-color-1);
    border-color: transparent;
    clip-path: polygon(0 -100vh, 100vw -100vh, 100vw 100vh, 0 100vh);
    z-index: 1;
}

#controls>input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 12px;
    height: 12px;
    margin-top: -3.5px;
    border-width: 0;
    border-style: solid;
    border-radius: 4px;
    background-color: var(--theme-color-0);
    border-color: transparent;
    box-shadow: calc(-100vw - 12px) 0 0 100vw var(--theme-color-0);
    clip-path: polygon(1px 0, 100% 0, 100% 100%, 1px 100%, 1px calc(50% + 2.5px), -100vw calc(50% + 2.5px), -100vw calc(50% - 2.5px), 0 calc(50% - 2.5px));
    z-index: 1;
}

#controls>input[type="range"]::-moz-range-track{
    width: 100%;
    height: 5px;
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--theme-color-1);
    border-color: transparent;
}

#controls>input[type="range"]::-moz-range-thumb{
    width: 12px;
    height: 12px;
    border-width: 0px;
    border-style: solid;
    border-radius: 4px;
    background-color: var(--theme-color-0);
    border-color: transparent;
}

#controls>input[type="range"]::-moz-range-progress{
    height: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--theme-color-0);
}

#controls>input[type="range"]:disabled{
    filter: grayscale(100%);
}

@media (hover: hover) {
    #controls>input[type="range"]:not([disabled]){
        cursor: pointer;
    }
    
    #controls>input[type="range"]:not([disabled]):hover::-webkit-slider-thumb{
        filter: brightness(120%);
    }
    
    #controls>input[type="range"]:not([disabled]):hover::-moz-range-thumb{
        filter: brightness(120%);
    }

    #controls>input[type="range"]:not([disabled]):hover::-moz-range-progress{
        filter: brightness(120%);
    }
}

#controls>input[type="checkbox"]{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    appearance: none;
    position: relative;
    width: 47px;
    height: 23px;
}

#controls>input[type="checkbox"]::before{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    content: "";
    display: block;
    width: 47px;
    height: 23px;
    border-radius: 5px;
    background-color: var(--theme-color-1);
}

#controls>input[type="checkbox"]:checked::before{
    background-color: var(--theme-color-3);
}

#controls>input[type="checkbox"]::after{
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    background-color: var(--theme-color-0);
}

#controls>input[type="checkbox"]:checked::after{
    transform: translate(24px, -50%);
}

#controls>input[type="checkbox"]:disabled{
    filter: grayscale(100%);
}

@media (hover: hover) {
    #controls>input[type="checkbox"]:not([disabled]):hover::before{
        cursor: pointer;
    }
    
    #controls>input[type="checkbox"]:not([disabled]):hover::after{
        filter: brightness(120%);
        cursor: pointer;
    }
}

#controls>input[type="color"]{
    border-radius: 5px;
    padding: 0;
    border: 5px solid var(--theme-color-0);
}

#controls>input[type="color"]::-moz-color-swatch{
    border: none;
}

#controls>input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
    border-radius: 0;
}

#controls>input[type="color"]::-webkit-color-swatch{
    border: none;
}

@media (hover: hover) {
    #controls>input[type="color"]:hover{
        border: 5px solid var(--theme-color-1);
        cursor: pointer;
    }
}
